Matrix_Calculator.csproj
obj/
bin/
bin/Debug/netcoreapp3.1/Matrix_Calculator.dll
bin/Debug/netcoreapp3.1/Matrix_Calculator.dll
*.pdb
*.dll
bin/Debug/netcoreapp3.1/Matrix_Calculator.dll
bin/Debug/netcoreapp3.1/Matrix_Calculator.pdb
obj/Debug/netcoreapp3.1/Matrix_Calculator.dll
obj/Debug/netcoreapp3.1/Matrix_Calculator.pdb
*.pdb
*.dll

